/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================


html.loaded body.vertical-layout.vertical-menu-modern.2-columns.navbar-floating.footer-static.menu-expanded.pace-done div.app-content.content div.content-wrapper div.content-body section#data-thumb-view.data-thumb-view-header div.add-new-data-sidebar div.add-new-data.show div.data-items.pb-3.ps.ps--active-y div.data-fields.px-2.mt-3 div.row div.col-sm-12.data-field-col.data-list-upload form#dataListUpload.dropzone.dropzone-area.dz-clickable

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
